<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>crimbo</title>

  <!-- build:css main.min.css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/main.css"> 
  <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
  <!-- /build -->
</head>

<body ng-app='banhammer'>
  
  <div class='container'>
    <div class='page-header'>
      <h1>BanHammer!</h1>
    </div>
    <div class='row'>
      <div class='col-md-8'>
        <div id="crimbo-game" class="game" ng-controller='GameWindowCtrl'></div>
        <div style='border: 1px solid red'></div>
        
      </div>
      <div class='col-md-4'>
        <ul class='messages list-unstyled'>
          <li>The wraith picks up a knife!</li>
          <li>The wraith now wields a knife.</li>
        </ul>
        <hr />
        <div class="stats" ng-controller="StatsCtrl">
          <input type='text' ng-model="name" />
          <input type='button' ng-click="clicked()" />
          <h3>{{player.name}} the fantastic</h3>
          <dl class="dl-horizontal">
            <dt>HP</dt>
            <dd>25/30</dd>

            <dt>AC</dt>
            <dd>-1</dd>

            <dt>Level</dt>
            <dd>{{player.level}}</dd>

            <dt>Strength</dt>
            <dd>{{player.strength}}</dd>

            <dt>Dexterity</dt>
            <dd>{{player.dexterity}}</dd>

            <dt>Constitution</dt>
            <dd>{{player.constitution}}</dd>

            <dt>Wisdom</dt>
            <dd>{{player.wisdom}}</dd>

            <dt>Intelligence</dt>
            <dd>{{player.intelligence}}</dd>
            <div ng-if="debug == true">
              <dt>X</dt>
              <dd>{{player.x}}</dd>
              <dt>Y</dt>
              <dd>{{player.y}}</dd>
            </div>
        </dl>
      </div>

    </div>
  </div>

  <!-- build:remove -->
  <script src="http://localhost:35729/livereload.js"></script>  
  <!-- /build -->

  <!-- build:js main.min.js -->
  <script src="bower_components/phaser-official/build/phaser.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>

  <script src="js/game_manager.js"></script>
  <script src="js/framework/message_window.js"></script>

  <script src="js/framework/utils.js"></script>
  <script src="js/framework/constants.js"></script>
  <script src="js/framework/overworld.js"></script>
  <script src="js/framework/entity.js"></script>
  <script src="js/framework/player.js"></script>
  <script src="js/framework/monster.js"></script>
  <script src="js/framework/game.js"></script>
  <script src="js/framework/item.js"></script>

  <script src="js/view/entity_view.js"></script>
  <script src="js/view/player_view.js"></script>
  <script src="js/view/monster_view.js"></script>
  <script src="js/view/overworld_view.js"></script>
  <script src="js/view/game_view.js"></script>
  <script src="js/view/monster_view.js"></script>
  <script src="js/view/player_view.js"></script>
  <script src="js/view/item_view.js"></script>

  <script src="js/ui/app.js"></script>
  <!-- /build -->

</body>
</html>

